<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1">

		<title>TEAM-8</title>
		<link rel="icon" href="/img/infinity.png">

	<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->
	<!--	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

		<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>

</style>

	</head>
	<body>
		{{{body}}}
		
	<!--	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
	<!--	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>                        -->
		<!-- jQuery library -->  
	<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  -->

		<!-- Popper JS -->
	<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>  -->

		<!-- Latest compiled JavaScript -->
	<!--	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

		 <!- Bootstrap core JavaScript --> 
<!--    <script src="/layouts/vendor/jquery/jquery.min.js"></script>                                            -->
<!--    <script src="/layouts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>                             -->


    <!-- Plugin JavaScript -->
   <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	</body>

</html>