<nav class="navbar fixed-top navbar-expand-sm bg-dark text-light pindot">
			<a class="navbar-brand" style="color:red">   ShoopShop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Products<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/">View Products</a></li>
							<li><a href="/product/create">Create Products</a></li>
						</ul>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/product/create">Create Product<span class="sr-only">(current)</span></a>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Categories">View Categories</a></li>
							<li><a href="/category/create">Create Categories</a></li>
						</ul>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Brands<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/brands">View Brands</a></li>
							<li><a href="/brands/Create">Create Brands</a></li>
						</ul>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/customers">Customers<span class="sr-only">(current)</span></a>
					</li>
		        </ul>	
			</div>
		</nav>

		<footer>
			<div class="ft">
				<span class="foot-text">&copy; 2018 <span class="team">TEAM 8</span> <span class="labs">Loves</span> <span class="you">YOU!!</span></span>
			</div>
		</footer>
