<nav class="navbar fixed-top navbar-expand-sm bg-dark text-light pindot">
      <a class="navbar-brand" style="color:red">   ShoopShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
          <li class="dropdown categ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Products<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/product/admin">View Products</a></li>
              <li><a href="/product/create">Create Products</a></li>
            </ul>
          </li>

          <li class="dropdown categ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/Categories">View Categories</a></li>
              <li><a href="/category/create">Create Categories</a></li>
            </ul>
          </li>

          <li class="dropdown categ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/">Brands<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/brands">View Brands</a></li>
              <li><a href="/brands/Create">Create Brands</a></li>
            </ul>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/customers">Customers<span class="sr-only">(current)</span></a>
          </li>
            </ul> 
      </div>
    </nav>


<div class="container pb-5 mb-5">
  <div class="jumbotron mt-2">
    <h2 style="text-align:center">Create Brand</h2>
    <form method="POST" action="/insertbrand">
      <div class="controls">
        <div class="form-group">
          <label class="control-label" for="brand_name">Brand Name *</label>
          <div>
            <input id="brand_name" name="brand_name" type="text" placeholder="Brand name" class="form-control" required="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="brand_description">Description *</label>
          <div>
            <textarea id="brand_description" name="brand_description" placeholder="Description" rows="4" class="form-control" required=""></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-block" title="Submit contact form">
            Create Brand
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


