<div class="container pb-5 mb-5">
  <div class="jumbotron mt-2">
    <h2>Create Brand</h2>
    <form method="POST" action="/brands">
      <div class="controls">
        <div class="form-group">
          <label class="control-label" for="brand_name">Brand Name *</label>
          <div>
            <input id="brand_name" name="brand_name" type="text" placeholder="Brand name" class="form-control" required="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="brand_description">Description *</label>
          <div>
            <textarea id="brand_description" name="brand_description" placeholder="Specifications" rows="4" class="form-control" required=""></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-block" title="Submit contact form">
            Create Brand
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>