<nav class="navbar fixed-top navbar-expand-sm bg-dark text-light pindot">
			<a class="navbar-brand" style="color:red">   ShoopShop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Products<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/">View Products</a></li>
							<li><a href="/product/create">Create Products</a></li>
						</ul>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/product/create">Create Product<span class="sr-only">(current)</span></a>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Categories">View Categories</a></li>
							<li><a href="/category/create">Create Categories</a></li>
						</ul>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Brands<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/brands">View Brands</a></li>
							<li><a href="/brands/Create">Create Brands</a></li>
						</ul>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/customers">Customers<span class="sr-only">(current)</span></a>
					</li>
		        </ul>	
			</div>
		</nav>>


<div class="container">
	<div class="jumbotron mt-2">
		<h1 align="center">Brands</h1>
		{{#each rows}}
			<div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
				<div class="card bg-secondary text-light center">
					{{!-- <img class="card-img-top" src="{{this.pic}}" alt=""> --}}
					<div class="card-body">
						<h4 class="card-title">{{this.brand_name}}</h4>
						<p class="card-text">
							<h7 class="card-title">{{this.brand_description}}</h7>
						</p>
					</div>
				</div>
			</div>
		{{/each}}
		<form method="GET" action="/brands/create">
			<div class="form-group">
					<div class="text-center">
						<!-- <button type="submit" class="btn btn-success btn-block">Create Brand</button> -->
					</div>
				</div>
		</form>
	</div>
</div>

