<div class="container pb-5 mb-5">
	<div class="jumbotron mt-2">
		<h2>Create Category</h2>
		<form method="POST" action="/categories">
			<div class="controls">
				<div class="form-group">
					<label class="control-label" for="category_name">Category Name *</label>
					<div>
						<input id="category_name" name="category_name" type="text" placeholder="" class="form-control" required="">
					</div>
				</div>
				<div class="form-group">
					<div class="text-center">
						<button type="submit" class="btn btn-success btn-block" title="Submit category form">
						Submit
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
