<div class="container">
	<div class="jumbotron mt-2">
		<h1 align="center">Categories</h1>
		{{#each data}}
			<div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
				<div class="card bg-secondary text-light center">
					<div class="card-body">
						<h4 class="card-title">{{this.category_name}}</h4>
					</div>
				</div>
			</div>
		{{/each}}
		<form method="GET" action="/category/create">
			<div class="form-group">
					<div class="text-center">
						<button type="submit" class="btn btn-success btn-block">Create Category</button>
					</div>
				</div>
		</form>
	</div>
</div>