<div class="container pb-5 mb-5" style="margin-top: 100px">
  <div class="jumbotron mt-2">

<div class="modal-body mx-auto white-text" style="width: 80%">
    <form method="post" action="/insertcategory">
        <h1><i><b>Category:</b></i></h1>
        <div class="form-group">
          <input type="name" class="form-control" id="name" placeholder="Enter Category" name="name">
        </div>
      
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-lg" title="Submit contact form">
            Submit
            </button>
        </div>
    </form>
</div>
</div>
</div>