<nav class="navbar fixed-top navbar-expand-sm bg-dark text-light pindot">
			<a class="navbar-brand" style="color:red">   ShoopShop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Products<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/product/admin">View Products</a></li>
							<li><a href="/product/create">Create Products</a></li>
						</ul>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Categories">View Categories</a></li>
							<li><a href="/category/create">Create Categories</a></li>
						</ul>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Brands<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/brands">View Brands</a></li>
							<li><a href="/brands/Create">Create Brands</a></li>
						</ul>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="/customers">Customers<span class="sr-only">(current)</span></a>
					</li>

					<li class="dropdown categ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/">Admin<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/">Customer</a></li>
						</ul>
					</li>
		        </ul>	
			</div>
		</nav>





<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
			<div>
				<table class="table-bordered">
					<h1 align="center">Customers</h1>
					<thead>
							<tr style="text-align:center;">
								<th style="padding:20px;">Name</th>
								<th style="padding:20px;">Email Address</th>
								<th style="padding:20px;">Customer Details</th>
							</tr>
					</thead>
					{{#each rows}}		
					<tbody>
							<tr style="text-align:center;">
								<td style="padding:20px;">{{this.first_name}} {{this.last_name}}</td>
								<td style="padding:20px;">{{this.email}}</td>
								<td style="padding:20px;">
									<a type="button" class="btn btn-primary btn-md" href="/customers/{{this.id}}">VIEW</a>
								</td>
							</tr>
					</tbody>	
					{{/each}}
				</table>
			</div>
		</div>
	</div>
</div>

