<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div>
				<table class="table-bordered">
					<h1>Customers</h1>
					<thead>
							<tr style="text-align:center;">
								<th style="padding:20px;">Name</th>
								<th style="padding:20px;">Email Address</th>
								<th style="padding:20px;">Customer Details</th>
							</tr>
					</thead>
					{{#each rows}}		
					<tbody>
							<tr style="text-align:center;">
								<td style="padding:20px;">{{this.first_name}} {{this.last_name}}</td>
								<td style="padding:20px;">{{this.email}}</td>
								<td style="padding:20px;">
									<a type="button" class="btn btn-primary btn-md" href="/customers/{{this.id}}">VIEW</a>
								</td>
							</tr>
					</tbody>	
					{{/each}}
				</table>
			</div>
		</div>
	</div>
</div>