<div class="container pb-5 mb-5">
	<div class="jumbotron mt-2">
		<h2>Create Product</h2>
		<form method="POST" action="/insertproduct">
			<div class="controls">
				<div class="form-group">
					<label class="control-label" for="product_name">Product Name *</label>
					<div>
						<input id="product_name" name="product_name" type="text" placeholder="Brand" class="form-control" required="">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="product_type">Product Category *</label>
					<div class="text-center">
						<select name="product_type" class="form-control" required="">
							<option value="">Choose one..</option>
						{{#each rows.[1]}}
						 	<option value="{{this.name}}">{{this.name}}</option>
						 {{/each}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="product_description">Product Description *</label>
					<div>
						<input id="product_description" name="product_description" type="text" placeholder="Specifications" class="form-control" required="">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="price">Price *</label>
					<div>
						<input id="product_price" name="product_price" type="number" placeholder="80000" class="form-control" required="">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="pic">Picture link *</label>
					<div>
						<input id="product_pic" name="product_pic" type="text" placeholder="/name.png" class="form-control" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="product_brand">Brand *</label>
					<div class="text-center">
						<select name="product_brand" class="form-control" required="">
							<option value=''>Choose one.</option>
						{{#each rows.[0]}}
						 	<option value={{this.brand_name}}>{{this.brand_name}}</option>
						 {{/each}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="text-center">
						<button type="submit" class="btn btn-primary btn-medium">Add Product</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>